@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* 기본적으로 스크롤을 방지 */
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
